@font-face {
  font-family: 'nanum';
  font-style: normal;
  font-weight: normal;
  src: url('/font/nanum.eot'); 
  src: local('¡Ø'), url('/font/nanum.woff') format('woff'), url('/font/nanum.ttf') format('truetype'); 
}

@font-face {
  font-family: 'nanumB';
  font-style: normal;
  font-weight: normal;
  src: url('/font/nanumB.eot'); 
  src: local('¡Ø'), url('/font/nanumB.woff') format('woff'), url('/font/nanumB.ttf') format('truetype'); 
}

body { font-size: 0; margin: 0; padding: 0; font-family: 'nanumB'; position: relative; }
article { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1; }
footer { width: 100%; position: fixed; bottom: 0; z-index: 2; }
ul { list-style: none; margin: 0; padding: 0; }
li { display: inline-block; cursor: pointer; text-align: center; }
textarea, input, select { font-family: 'nanumB'; font-size: 16px; border: 1px solid #d1d1d1; outline: 0px; }
form { display: initial; }
a { text-decoration: none; }

.background { width: 100%; height: 100%; position: fixed; background-image: url('/img/main/background2.jpg'); background-size: 100% 100%; background-position: center center; }

.startBarBack { width: 100%; height: 56px; position: fixed; bottom: 0; background-color: black; opacity: 0.6; }
.startBar { width: 100%; position: fixed; bottom: 0; }
.startBar .startBtn { display: inline-block; padding: 16px 20px; vertical-align: middle; position: relative; }
.startBar .startBtn img { width: 24px; height: 24px; }
.startBar .startBtn .startBack { padding: 27px 32px; background-color: white; opacity: 0.2; position: absolute; top: 0; left: 0; display: none; }
.startBar .shortCut { width: calc(100% - 300px); display: inline-block; }
.startBar .shortCut .icon { display: inline-block; padding: 16px 20px; position: relative; vertical-align: middle; cursor: default; }
.startBar .shortCut .icon img { width: 24px; height: 24px; }
.startBar .shortCut .icon .shortBack { padding: 28px 32px; background-color: white; opacity: 0.2; position: absolute; top: 0; left: 0; display: none; }
.startBar .shortCut .icon .shortBack2 { padding: 28px 17px; }
.startBar .shortCut .icon .shortBack3 { padding: 28px 78px; }
.startBar .shortCut .icon .shortBack4 { padding: 28px 22px; }
.startBar .shortCut .icon .footerLine { width: 54px; height: 3px; position: absolute; bottom: 0; left: 50%; transform: translatex(-50%); background-image: url('/img/footer/footerLine.png'); background-size: 100% 100%; background-position: center center; display: none; }
.startBar .timeBar { width: 236px; }
.startBar .timeBar .icon { padding: 10px; }
.startBar .timeBar .icon2 { width: 36px; padding: 19px 0; }
.startBar .timeBar .icon3 { padding: 16px 10px; }
.startBar .timeBar .icon .txt { font-size: 14px; color: white; text-align: center; }
.startBar .timeBar .time { width: 136px; }

.icons { width: 80px; display: inline-block; position: relative; margin: 5px; padding: 2px 0; cursor: default; }
.icons .iconsBack { width: 80px; height: 74px; position: absolute; top: 0; left: 0; background-color: #cacaca; border: 2px solid white; opacity: 0.2; display: none; }
.icons .img { width: 80px; height: 50px; text-align: center; }
.icons .img img { width: 37px; height: 45px; }
.icons .txt { width: 80px; font-size: 14px; color: white; text-align: center; padding: 1px 0; }

.folder { width: 700px; height: 500px; position: absolute; top: 20%; left: 30%; transform: translate3d(-30%, -20%, 0); z-index: 3; background-color: white; border: 1px solid #d1d1d1; }
.folder .menu_wrap { border-bottom: 1px solid #d1d1d1; }
.folder .menu_wrap .menu { width: 60px; display: inline-block; padding: 5px 0; font-size: 14px; text-align: center; cursor: default; }
.folder .menu_wrap .menu:first-child { background-color: #0077ff; color: white; }
.folder .menu_wrap .title { font-size: 14px; display: inline-block; padding: 5px 0; margin-left: 50px; }
.folder .menu_wrap .btn_wrap { float: right; }
.folder .menu_wrap .btn_wrap .btn { width: 50px; height: 28px; line-height: 2; display: inline-block; vertical-align: middle; text-align: center; font-size: 14px; cursor: default; color: #b1b1b1; }
.folder .menu_wrap .btn_wrap .btn:hover { color: black; background-color: #ededed; }
.folder .menu_wrap .btn_wrap .btn:last-child:hover { color: white; background-color: red; }
.folder .menu_wrap .btn_wrap .btnBack { width: 50px; }
.folder .quick_menu { width: 200px; height: 432px; display: inline-block; border-right: 1px solid #efefef; vertical-align: top; margin: 10px 0; }
.folder .quick_menu .menu { width: 100%; padding: 5px 0 5px 50px; }
.folder .quick_menu .menu img { width: 18px; height: 20px; vertical-align: middle; cursor: pointer; }
.folder .quick_menu .menu .txt { font-size: 14px; display: inline-block; cursor: pointer; padding-left: 5px; vertical-align: middle; }
.folder .content_wrap { width: 459px; height: 432px; display: inline-block; vertical-align: top; margin: 10px 0; padding: 0 20px; }
.folder .content_wrap .folder_icon { width: 110px; height: 60px; display: inline-block; position: relative; padding: 5px 0; cursor: default; margin: 0 2px; }
.folder .content_wrap .folder_icon .folder_iconBack { width: 110px; height: 70px; position: absolute; top: 0; left: 0; background-color: #77bbff; opacity: 0.2; display: none; }
.folder .content_wrap .folder_icon .img { width: 110px; height: 40px; text-align: center; }
.folder .content_wrap .folder_icon .img img { width: 50px; height: 40px; }
.folder .content_wrap .folder_icon .txt { width: 110px; font-size: 14px; text-align: center; padding: 1px 0; }

.folder .count_wrap { padding: 2px 0 2px 10px; }
.folder .count_wrap .txt { font-size: 12px; }

.notepad { width: 800px; position: absolute; top: 20%; left: 40%; transform: translate3d(-40%, -20%, 0); z-index: 3; background-color: white; border: 1px solid #d1d1d1; }
.notepad .title_wrap .title { padding: 5px 10px; display: inline-block; cursor: default; }
.notepad .title_wrap .title img { width: 20px; height: 20px; vertical-align: middle; }
.notepad .title_wrap .title .txt { font-size: 14px; margin-left: 10px; display: inline-block; vertical-align: middle; }
.notepad .title_wrap .btn_wrap { float: right; }
.notepad .title_wrap .btn_wrap .btn { width: 50px; height: 31px; line-height: 2; display: inline-block; vertical-align: middle; text-align: center; font-size: 14px; cursor: default; color: #b1b1b1; }
.notepad .title_wrap .btn_wrap .btn:hover { color: black; background-color: #ededed; }
.notepad .title_wrap .btn_wrap .btn:last-child:hover { color: white; background-color: red; }
.notepad .menu_wrap { border-bottom: 1px solid #d1d1d1; position: relative; }
.notepad .menu_wrap .menu { width: 60px; display: inline-block; padding: 5px 0; font-size: 14px; text-align: center; cursor: default; }
.notepad .menu_wrap .notepadMenu { width: 100px; position: absolute; top: 28px; left: 0; background-color: #e5e5e5; display: none; }
.notepad .menu_wrap .notepadMenu .topMenu { font-size: 14px; padding: 10px 0 10px 10px; cursor: default; }
.notepad .menu_wrap .notepadMenu .topMenu:hover { background-color: #77bbff; }
.notepad .content_wrap { width: 800px; }
.notepad .content_wrap .table .table_title { border-bottom: 1px solid #d1d1d1; }
.notepad .content_wrap .table .table_title .title { width: 70px; display: inline-block; border-right: 1px solid #d1d1d1; text-align: center; font-size: 16px; padding: 10px 0; background-color: #fafafa; }
.notepad .content_wrap .table .table_title .title:last-child { border-right: 0px; }
.notepad .content_wrap .table .table_title .title2 { width: 150px; }
.notepad .content_wrap .table .table_title .title3 { width: 276px; }
.notepad .content_wrap .table .row { border-bottom: 1px solid #d1d1d1; }
.notepad .content_wrap .table .row .cell { width: 70px; display: inline-block; border-right: 1px solid #d1d1d1; text-align: center; font-size: 14px; padding: 10px 0; }
.notepad .content_wrap .table .row .cell:last-child { border-right: 0px; }
.notepad .content_wrap .table .row .cell2 { width: 150px; }
.notepad .content_wrap .table .row .cell3 { width: 276px; }
.notepad .content_wrap .table .row .cell3 span { cursor: pointer; }
.notepad .content_wrap .table .row .cell3 span:hover { color: #0077ff; }
.notepad .content_wrap .search_wrap { margin: 20px 0; text-align: center; }
.notepad .content_wrap .search_wrap select { width: 100px; padding: 5px; font-size: 14px; vertical-align: middle; }
.notepad .content_wrap .search_wrap input { width: 200px; vertical-align: middle; font-size: 14px; padding: 5px; margin: 0 10px; }
.notepad .content_wrap .search_wrap .btn { width: 80px; display: inline-block; vertical-align: middle; font-size: 14px; text-align: center; cursor: pointer; background-color: #fafafa; border: 1px solid #a0a0a0; padding: 5px 0; }
.notepad .content_wrap .page_wrap { padding-bottom: 10px; text-align: center; }
.notepad .content_wrap .page_wrap .page { width: 50px; display: inline-block; margin-right: 10px; text-align: center; font-size: 14px; cursor: pointer; background-color: #fafafa; border: 1px solid #f0f0f0; padding: 5px 0; }
.notepad .content_wrap .page_wrap .sel { background-color: #a0a0a0; border: 1px solid #fafafa; }
.notepad .content_wrap .write_wrap .row { border-bottom: 1px solid #d1d1d1; }
.notepad .content_wrap .write_wrap .row .title { width: 100px; display: inline-block; padding: 10px 0; font-size: 14px; text-align: center; vertical-align: middle; }
.notepad .content_wrap .write_wrap .row .input { width: 689px; display: inline-block; vertical-align: middle; border-left: 1px solid #d1d1d1; padding: 5px; }
.notepad .content_wrap .write_wrap .row .input select { width: 100px; padding: 5px; font-size: 14px; }
.notepad .content_wrap .write_wrap .row .input input { width: 100%; font-size: 14px; border: 0px; }
.notepad .content_wrap .write_wrap .row .input textarea { width: 100%; height: 300px; font-size: 14px; resize: none; border: 0px; }
.notepad .content_wrap .btn_wrap { margin: 10px 0; text-align: center; }
.notepad .content_wrap .btn_wrap .btn { width: 80px; display: inline-block; text-align: center; font-size: 14px; cursor: pointer; background-color: #0077ff; color: white; border: 1px solid #a0a0a0; padding: 5px 0; margin-right: 10px; }
.notepad .content_wrap .btn_wrap .btn:last-child { margin-right: 0; background-color: #fafafa; color: black; }
















