<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	
	<context:component-scan base-package="main"/>
	<context:component-scan base-package="notepad"/>
	
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
		id="beanNameViewResolver" p:order="2" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver" p:order="9">
		<property name="prefix" value="/WEB-INF/view" />
	</bean>
	
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
		id="tilesViewResolver" p:order="3" />

	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer"
		id="tilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/tile.xml</value>
			</list>
		</property>
	</bean>

	<!-- mysql DB 연동 -->
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/win"/>
		<property name="username" value="win"/>
		<property name="password" value="win"/>
	</bean>

	<!-- mysql 웹db 연동 -->
<!-- 	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
<!-- 		<property name="url" value="jdbc:mysql://localhost:3306/ssungkim9999" /> -->
<!-- 		<property name="username" value="ssungkim9999" /> -->
<!-- 		<property name="password" value="bluecat0720!" /> -->
<!-- 	</bean> -->

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mapper/*</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>

	<bean
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		id="multipartResolver" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.cafe24.com" />
		<property name="port" value="587" />
		<property name="username" value="contact@ssungkim.com" />
		<property name="password" value="bluecat0720!" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

</beans>
